body{
background-color: red;
}

 h1{
color:black ;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
background:black ;
}


p{

color:white ;
font-family:Arial, Helvetica, sans-serif ;
font-size:100px ;
background:white ;

color:white ;
font-family:Arial, Helvetica, sans-serif ;
font-size: 100px;
background:white ;

}
